@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

:root {
  --correct: #629741;
  --white: #f1faee;
  --hover: #caf3f5;
  --dark-gray: #202020;
  --light-gray: #ced4da;
  --light-blue: #a8dadc;
  --slate-blue: #457b9d;
  --dark-blue: #1d3557;
  --red: #e63946;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: var(--light-gray);
  font-family: Quicksand;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: var(--dark-blue);
  padding: 10px 0px 20px 0px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  width: 400px;
  height: 400px;
  background-color: var(--dark-blue) ;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.cell {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--dark-gray);
  cursor: pointer;
  background-color: var(--light-blue);
  color: var(--dark-blue)
}

.cell-container {
  border-radius: 5px;
}

.hover:hover {
  background-color: var(--hover);
}

.btn {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: var(--light-blue);
  font-weight: 500;
  background-color: var(--dark-blue);
}

.btn:hover {
  color: var(--dark-blue);
  background-color: var(--light-blue);
  border: 1px solid var(--dark-blue);
}

.difficulty-btns{
  margin-top: 20px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.current-difficulty {
  color: var(--dark-blue);
  background-color: var(--light-blue);
  border: 1px solid var(--dark-blue);
}

.toggle {
  content: none;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 20px 0px;
  color: var(--dark-blue);
}

.display {
  display: flex;
  flex-direction: row;
  padding: 0px 10px;
  gap: 60px;
  width: 400px;
  height: 60px;
  background: var(--dark-blue);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.display-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue);
}

.scores {
  display: flex;
  gap: 60px;
  background-color: var(--white);
}

.round {
  background-color: inherit;
}

h2 {
  background-color: var(--dark-blue);
  color: var(--light-blue);
  font-size: 18px;
}

.scoreToShow {
  padding-top: 10px;
  font-weight: 500;
  background-color: var(--light-gray);
  color: var(--dark-blue);
  font-size: 22px;
}

.countdown {
  font-size: 30px;
  font-weight: 500;
  color: var(--dark-blue);
  transition-duration: 1s;
  /*animation-name: countdown;*/
  animation-duration: 1s;
  /*change for total timer count */
  animation-iteration-count: 55;
  animation-timing-function: linear;
}

.selected {
  background-color: var(--red);
}

.footer {
  margin-top: 90px;
  background-color: var(--white);
  height: 40px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}

.footer p {
  background-color: var(--white);
  font-size: 20px;
}

.breathing-animation {
  animation: breathing 1s ease-out infinite normal;
  -webkit-animation: breathing 1s ease-out infinite normal;
}

@keyframes countdown {
  from {
    transform:scale(1);
  }
  to {
    transform:scale(1.6);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.96);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.96);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.96);
  }
}

@media only screen and (max-width: 450px) {
  .game-board {
    width: 300px;
    height: 300px;
  }

  .difficulty-btns {
    width: 300px;
    gap: 10px;
  }

  .difficulty-btn {
    width: 100px;
    height: 35px;
  }

  .display {
    width: 300px;
    gap: 40px;
  }

  .play-btn {
    width: 100px;
    height: 35px;
  }

  h2 {
    font-size: 16px;
  }
}